@charset "utf-8";

.inner{max-width:760px;}
#wrap{width:100%;min-width:320px;max-width: 760px;
  margin:0 auto;}
#header{background-color: #fff;border-bottom:1px solid #ededed;
        padding:10px 0;}
#header .inner{display: flex;flex-wrap: nowrap;
               justify-content: space-between;}
#header .home{width: 15px;height:15px;
              background: url(../image_sub/q_home_03.png) no-repeat center / cover;
              margin-left:20px;
              margin-top: 5px;
              }
#header h1{font-size: 1rem;}
#nav_btn{width:20px;background:none;border:none;
         margin-right:10px;
         margin-top: 3px;
}
#nav_btn span{display: block;height:3px; background-color:#555;margin-bottom:3px}

.section h3{margin-bottom: 10px;font-size: 1rem;}

#sub1_map {text-align: center;background-color:#ededed;padding-top:30px 0}
#sub1_map h2{width:100px;height:100px;margin:auto;background-color: #fff;border-radius: 50%;text-align: center;margin-bottom:10px;}
#sub1_map h2 img{position: relative;left:50%;top:50%;
              transform:translate(-50%,-50%);}

#sub1_map .addr{font-size: 0.8rem;margin-bottom: 20px;}
#sub1_map .navi_btn{padding:0 20px;margin-bottom:20px;box-sizing: border-box;display: flex;flex-wrap: nowrap;justify-content: space-between; }
#sub1_map .navi_btn button{display:block;
       border:1px solid #555;box-sizing: border-box;margin:0 5px;
       width:calc((100% - 20px)/2);}
#sub1_map .road{font-size: 0.8rem;margin-bottom:20px}
#sub1_map .map{}

#sub1_map .tabSet{background-color: #fff;padding-top:30px;}
#sub1_map .tabSet h3{margin-bottom: 20px;}
#sub1_map .tabs{display: flex;flex-wrap: nowrap;justify-content: space-around;font-size: 0.9rem;margin-bottom: 30px;}
#sub1_map .tabs li a{display:block;width:60px;height:60px;
background:url() no-repeat center / 25px #fff;border:1px solid #ccc;border-radius: 50%;
}
#sub1_map .tabs li:nth-child(1) a{background-image: url(../image_sub/traffic01_off.png);}
#sub1_map .tabs li:nth-child(2) a{background-image: url(../image_sub/traffic02_off.png);}
#sub1_map .tabs li:nth-child(3) a{background-image: url(../image_sub/traffic03_off.png);}

#sub1_map .tabs li.on a{background-color:#f76c19;}
#sub1_map .tabs li.on:nth-child(1) a{background-image: url(../image_sub/traffic01_on.png);}
#sub1_map h4{margin-bottom:10px;}
#sub1_map .road_map{margin-bottom:30px;text-align: center;}
#sub1_map .road_map img{width: 100%;}
#sub1_map .txt_box {text-align: left;padding-bottom:50px;}
#sub1_map .txt_box h5{border:1px solid #f76c19;
                color:#f76c19;text-align: center;
              border-radius: 20px;width:100px;padding:5px 0;
               margin-bottom: 20px;}
#sub1_map .txt_box dt{font-weight: 500;}
#sub1_map .txt_box dd{margin-bottom: 10px;}


#footer{
  border-top:1px solid #c0c0c0;
  padding:30px 0 100px;
  font-size:0.7rem;position: relative;}
#footer .sns{margin-bottom:10px;}
#footer .sns a{display:inline-block;margin-right:5px;}
#footer p {margin-bottom:5px;}
#footer .footer_nav a{display:inline-block;line-height: 0.8em;
         border-right:1px solid #cccccc;
         padding-right:10px;padding-left:5px;}
#footer  .footer_nav a:last-child{border:none}
#footer  .footer_nav a:first-child{padding-left:0}

#footer .awd {margin-top:20px}
#footer .awd img {vertical-align: top;margin-right:10px}
#footer .awd span{padding-left:5px;border-left:1px solid #cccccc;}

#footer .language{position: absolute;right:0;top:30px;padding-right:50px;
                   border-bottom:2px solid #777;
                   padding-bottom:5px;padding-left:5px;               }
#footer .language::after{content: '▼';font-size: 0.5rem;position: absolute;right:5px;top:50%;transform: translate(0,-50%);}
   


/*  탭디자인   */
.panel{display: none;}